.container {
    width: 60%;
    margin: 50px auto;
    background: white;
    padding: 50px; 25px;
    border: 1px solid;
}
.flexContainer {
    display: flex;
}
.flexItem {
    flex: 1;
}
.marginBottom {
    margin-bottom: 25px;
}
.entry {
    border: 1px solid;
    padding: 0.5em 0.75em;
}
.itemCenter{
    margin-right: 50px;
}
